<header>
    <div class="container-fluid profileBar2">

        <!--NAVIGATION-->
        <nav>
            <div>
                <img class="logo" id="logo3" src="/images/small-logo2.png" alt="Responsive image">
                <button id="logout" type="button" class="btn btn-outline-light right">Logout</button>
            </div>
        </nav>
    </div>
    {{!--<!--SEARCH BAR-->
    <div class="col-2 padding">
        <div class="input-group w-100 profile-col">
            <input type="search " class="form-control rounded" placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-light"><i class="fa fa-search"></i></button>
        </div>
    </div> --}}

</header>

<div class="container-fluid main-section text-center">

    <div class="row">
        <div class="col-3 picture-col">
            <div class="card picture-card" style="width: 24rem;">
                {{!-- <img src="/images/Futurama-on-Syfy-700x300.jpg" /> --}}

                {{#if loggedInData.avatar}}
                <img src="{{loggedInData.avatar}}" />
                <button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#imageUpdate">
                    Update Image
                </button>
                {{> imageupdate}}
                {{else}}
                {{> imageupload}}
                {{/if}}
                <div class="card-body">

                    <h2>
                        {{loggedInData.username}}
                    </h2>

                </div>
            </div>



            <!--PANTRY GENERATOR AND CHECKLISTS-->
            <div class="card  text-dark bg-light mb-3" style="max-width: 24rem;">
                <div class="card-header">
                    <button type="button" class="btn btn-default bold" data-bs-toggle="modal"
                        data-bs-target="#pantryModal">
                        Pantry Generator
                        <span class="small-italic">
                            </br>Click here to update pantry
                        </span>
                    </button>
                    {{> pantrygenerator}}

                </div>
                <div class="card-body">
                    <div class="goal">
                        Goal: <span id="timeGoal">{{goal1}}</span>
                    </div>

                    <table style="width:100%" class="left-white">
                        <tr>
                            <th>Item </th>
                            <th>Amount</th>
                            <th>Status</th>
                        </tr>
                        <tr>
                            <td>Grains (lbs)</td>
                            {{!-- dependent on the # of people and length of time --}}
                            <td id="grainsAmount">{{grainsAmount1}}</td>
                            <td>
                                <label class="custom-control-label" for="checkGrains"></label>
                                <input type="checkbox" class="custom-control-input" id="checkGrains" {{#if pg_one}} checked {{/if}} >
                            </td>
                        </tr>
                        <tr>
                            <td>Legumes/Beans (lbs)</td>
                            <td id="legumesAmount">{{legumesAmount1}}</td>
                            <td>
                                <label class="custom-control-label" for="checkLegumes"></label>
                                <input type="checkbox" class="custom-control-input" id="checkLegumes" {{#if pg_two}} checked {{/if}} >
                            </td>
                        </tr>
                        <tr>
                            <td>Milk (lbs)</td>
                            <td id="milkAmount">{{milkAmount1}}</td>
                            <td>
                                <label class="custom-control-label" for="checkMilk"></label>
                                <input type="checkbox" class="custom-control-input" id="checkMilk" {{#if pg_three}} checked {{/if}}>
                            </td>
                        </tr>
                        <tr>
                            <td>Sugars (lbs)</td>
                            <td id="sugarAmount">{{sugarAmount1}}</td>
                            <td>
                                <label class="custom-control-label" for="checkSugar"></label>
                                <input type="checkbox" class="custom-control-input" id="checkSugar" {{#if pg_four}} checked {{/if}}>
                            </td>
                        </tr>
                        <tr>
                            <td>Fats/Oils (lbs)</td>
                            <td id="fatsAmount">{{fatsAmount1}}</td>
                            <td>
                                <label class="custom-control-label" for="checkFats"></label>
                                <input type="checkbox" class="custom-control-input" id="checkFats" {{#if pg_five}} checked {{/if}}>
                            </td>
                        </tr>
                        <tr>
                            <td>Fruits/Veggies (lbs)</td>
                            <td id="fruitsVeggiesAmount">{{fruitsVeggiesAmount1}}</td>
                            <td>
                                <label class="custom-control-label" for="checkFruitsVeggies"></label>
                                <input type="checkbox" class="custom-control-input" id="checkFruitsVeggies" {{#if pg_six}} checked {{/if}}>
                            </td>
                        </tr>
                        <tr>
                            <td>Salt (lbs)</td>
                            <td id="saltAmount">{{saltAmount1}}</td>
                            <td>
                                <label class="custom-control-label" for="checkSalt"></label>
                                <input type="checkbox" class="custom-control-input" id="checkSalt" {{#if pg_seven}} checked {{/if}}>
                            </td>
                        </tr>
                        <tr>
                            <td>Water (gal)</td>
                            <td id="waterAmount">{{waterAmount1}}</td>
                            <td>
                                <label class="custom-control-label" for="checkWater"></label>
                                <input type="checkbox" class="custom-control-input" id="checkWater" {{#if pg_eight}} checked {{/if}}>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--PANTRY GENERATOR END-->

            <!--72 HOUR KIT-->
            <div class="card  text-dark bg-light mb-3" style="max-width: 24rem;">
                <div class="card-header text-center">
                    <button type="button" class="btn btn-default " data-bs-toggle="modal" data-bs-target="#kitModal">
                        72 Hour Kit Checklist
                        <span class="small-italic">
                            </br>Click here to view checklist
                        </span>
                    </button>
                    {{> kit}}

                </div>
                <div class="card-body text-center">
                    <p>It's recommended to have one kit prepared for each member of your family. Each kit should
                        meet each individual's personal needs.
                    </p>


                </div>
            </div>
        </div>



        <!--ARTICLES / NEWS FEED SECTION-->
        <div class="col-6 blog-section2">

            <!--TABS-->
            <ul class="nav nav-tabs" id=" sectionTab" role="tablist">
                <li class="nav-item" role=" presentation">
                    <button class="nav-link active" id="article-tab" data-bs-toggle="tab" data-bs-target="#article"
                        type="button" role="tab" aria-controls="article" aria-selected="true">
                        <img src="/images/helpfularticle.png" id="nav-title" class="img-fluid height: auto;">
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="feed-tab" data-bs-toggle="tab" data-bs-target="#feed" type="button"
                        role="tab" aria-controls="feed" aria-selected="false">
                        <img src="/images/feed.png" id="nav-title" class="img-fluid height: auto;">
                    </button>
                </li>
            </ul>

            <div class="tab-content rounded" id="sectionTabContent">
                <div class="tab-pane fade show active" id="article" role="tabpanel" aria-labelledby="article-tab">

                    {{> articles}}
                </div>
            </div>
        </div>

        <!--TIPS SECTION-->
        <div class="col-3 text-center">
            <!--TIPS-->
            <div class="tips-section">
                <img src="/images/tips2.png" id="title-profile" class="img-fluid height: auto;" alt="Responsive image">
                <!--<div class="scrollbar3">!-->
                <div class="card mx-auto" style="width: 25rem;">
                    <div class="card-header">
                        Featured
                    </div>
                    {{> helpfultips}}
                </div>
            </div>
        </div>
        <!--TIPS / ALERTS SECTION END-->
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
    <script src="/javascript/logout.js"></script>
    <script src="/javascript/image.js"></script>
    <script src="/javascript/profile.js"></script>
    
